


.divbuttonstart{
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background: black;
  bottom: 150px;
  background: rgba(0, 0, 0, 0.8);
  animation: moverArriba1 7s forwards ;

}

.hammer{
  padding: 3px;
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 100%;
  filter: opacity(0.8);
}

.border{
  box-shadow: 0 0 10px #f62817, 
  0 0 5px #f62817, 
  0 0 10px #f62817, 
  0 0 25px #f62817;
}
.green{
  border: 2px solid green;
}

@keyframes moverArriba1 {
  from {
      transform: translateY(140px); 
  }
  to {
      transform: translateY(0);
  }
}