

.memorysection1 {
  width: 80%;
  height: 250px;
  position: absolute;
  top: 70px;
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  align-items: center;
  gap: 20px;
  perspective: 1000px;
}
.memorysection2{
  width: 80%;
  height: 250px;
  position: absolute;
  bottom: 70px;
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  align-items: center;
  gap: 20px;
  perspective: 1000px;
}

.container, .container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 130px; 
  position: relative;
  border-radius: 5 px;
}

.checkcards{
 position: absolute;
 top: 39%;
 left: 40%;
 height: 210px;
 width: 300px;
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 10px;
 background-color: black;
 border: 2px solid gold;
}
.checkcard1, .checkcard2{
  height: 200px;
  width: 130px;
  border: 1px solid white;
}

.card1, .card2 {
  height: 200px;
  width: 130px;
  position: relative;
  transition: transform 0.6s ease-in-out;
  transform-style: preserve-3d;
 
}
.rotar{
  transform: rotateY(180deg);
}


.card-front, .card-back, .card-front2, .card-back2 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
}

.card-back, .card-back2 {
  transform: rotateY(180deg);
}

.card-front img, .card-back img, .card-front2 img, .card-back2 img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-radius: 5px;
}













/* .card1:hover {
  transform: rotateY(180deg);
}
.card2:hover {
  transform: rotateY(180deg);
} */































/* .card1--front{
 width: 100%;
 height: 100%;
 position: absolute;
 backface-visibility: hidden;
}

.card1--back{
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.card1--front > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card1--back > img{
  width: 100%;
 height: 100%;
 object-fit: cover;
} */


