

/* .new-runesection{
  width: 100%;
  min-height: 100svh;
  padding: 18px;
  background-color: #0e0e0e;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('');
  background-repeat: no-repeat;
} */


.memorysection {
  width: 80%;
  /* height: 250px; */
   position: absolute; 
  top: 70px;
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  align-items: center;
  gap: 20px;
  perspective: 1000px;
}

.card {
  width: 150px;
  height: 200px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  border-radius: 5px;
  perspective: 1000px;
}

.card-back {
  position: absolute;
  width: 150px;
  height: 200px;
  border-radius: 5px;
  transform: rotateY(180deg);
   /* Ocultar la parte trasera inicialmente */
}

.card-front {
  position: absolute;
  width: 150px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  transform: rotateY(0deg); /* Mostrar la imagen inicialmente */
}

.img-back {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.img-front {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.card-back, .card-front {
  backface-visibility: hidden;
  transition: transform 0.6s ease;
}

.card.flipped .card-back {
  transform: rotateY(0deg); /* Mostrar el número */
}

.card.flipped .card-front {
  transform: rotateY(180deg); /* Ocultar la imagen */
}

.div-puntuacion{
  margin: auto;
  width: 100px;
  height: 100px;
  border: 2px solid black;

}

.puntuacion{
 color: white;
 font-size: 12px;
}
































/*
.memorysection2{
  width: 80%;
  height: 250px;
  position: absolute;
  bottom: 70px;
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  align-items: center;
  gap: 20px;
  perspective: 1000px;
}

.container, .container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 130px; 
  position: relative;
  border-radius: 5 px;
}

.checkcards{
 position: absolute;
 top: 39%;
 left: 40%;
 height: 210px;
 width: 300px;
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 10px;
 background-color: black;
 border: 2px solid gold;
}
.checkcard1, .checkcard2{
  height: 200px;
  width: 130px;
  border: 1px solid white;
}
.card1, .card2 {
  height: 200px;
  width: 130px;
  position: relative;
  transition: transform 0.6s ease-in-out;
  transform-style: preserve-3d;
}
.rotar{
  transform: rotateY(180deg);
}
.card-front, .card-back, .card-front2, .card-back2 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
}


.card-back, .card-back2 {
  transform: rotateY(180deg);
  
}

.card-front img, .card-back img, .card-front2 img, .card-back2 img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-radius: 5px;
} */














