

.inputpassword{
  padding: 50px;
  position: absolute;
  color: gold;
  border: solid 3px rgb(245, 75, 75);
  border-radius: 10px;
  animation: parpadeo 2s infinite;
  
}

.name{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.name > label{
  text-align: center;
}

@keyframes parpadeo {
  0% {
    border-color: rgb(245, 75, 75);
  }
  50% {
    border-color: transparent;
  }
  100% {
    border-color: rgb(245, 75, 75);
  }
}